* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../Assets/brickwall2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.containter {
    height: 100%;
    clear: both;
}

.row {
    margin-right: -20px;
    margin-left: -10px;
}

.logo {
    padding: 80px 0 50px;
    animation-duration: 2s;
}

.left-image img, .right-image img {
    width: 40%;
    padding: 15px 0;
}

.left-image {
    float: left;
    padding-left: 58px;
    width: 32%;
    animation-duration: 5s
}

.right-image {
    float: right;
    padding-right: 35px;
    width: 50%;
    text-align: right;
    animation-duration: 5s
}

#button-addon1 {
    color: #000000;
}

.input-group {
    padding: 10px 0;
    animation-duration: 2.5s;
}

.input-group-prepend {
    background-color: #FF9600;
    border-radius: 5px;
}

.col-lg-12 { 
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
     background-color: #212121;
     border: 2px solid #999999;
}

#album-info, #artist-info, #event-listing {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.774);
    color: #000;
    margin: 18px auto;
}

/*---------- Artist Info Box ---------*/
#artist-info {
    padding-top: 12px;
    padding-bottom: 12px;
    animation-duration: 1.5s;
    animation-delay: 500ms;
}

#artist-name-bio {
    float: right;
    padding-left: 60px;
    padding-top: 7px;
}

#artist-name-bio h1 {
    font-weight: bolder;
}

#artist-name-bio p {
    line-height: 1.6;
    font-size: 1.3rem;
    padding-right: 30px;
}

.artist-img {
    float: left;
    padding: 10px;
}
/*---------- End Artist Info ---------*/

/*---------- Event Info Box ----------*/
#event-listing {
    animation-duration: 1.5s;
    animation-delay: 500ms;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #000000;
}

.btn-primary {
background-color: #FF9600;
color: #000;
border-color: #000;
width: 130px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #FF9600;
}

.table thead th {
    vertical-align: bottom;
    font-size: x-large;
    border-top: hidden;
    border-bottom: 3px solid black;
}
/*---------- End Event Info ---------*/