* {
    font-family: 'Roboto', sans-serif;
}



body {
    background-image: url('../Assets/brickwall2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.containter {
    height: 100%;
    clear: both;
}

.row {
    margin-right: -20px;
    margin-left: -10px;
}

.logo {
    padding: 80px 0 50px;
}

#album-info,
#artist-info,
#event-listing {
    /* height: 200px; */
<<<<<<< HEAD
    border-radius: 2px;
=======
    border-radius: 5px;
>>>>>>> 1c507fd4417ddf3da6048d0c92404bd17b89537c
    background-color: #c2c2c2;
    color: #000;
    margin: 25px auto;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #000000;
}

.table thead th {
    vertical-align: bottom;
    font-size: x-large;
    border-top: hidden;
    border-bottom: 3px solid black;
}

<<<<<<< HEAD

=======
>>>>>>> 1c507fd4417ddf3da6048d0c92404bd17b89537c
/* #event-listing { */
    /*height: 500px;*/
    /* border-radius: 5px;
    background-color: #c2c2c2;
    color: #000;
    margin: 0px auto 25px;
} */

.left-image img, .right-image img {
    width: 40%;
    padding: 15px 0;
}

.left-image img {
    float: left;
    padding-left: 50px;
    width: 15%;
}

.right-image {
    float: right;
    padding-right: 35px;
    width: 50%;
    text-align: right;
}


#button-addon1 {
    color: #000000;
}

.input-group {
    padding: 10px 0;
}

.input-group-prepend {
    background-color: #FF9600;
    border-radius: 5px;
}

.col-lg-12 { 
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
     background-color: #212121;
     border: 2px solid #999999;
}